label{
  color: aliceblue;
}
.common-letter {
color: rgb(201, 201, 201);
font-size: 13px;
}
.delivery{
  font-size: 13px;
}
.modal-dialog {
position: fixed;
margin: auto;
width: 320px;
height: 100%;
left: 0px;
}
.modal-content {
height: 100%;
}